
$font-color: #FFFFFF;
$link-color: #1d5192;
$nav-color: #9CDDC8;
$text-shadow: 1.5px 1.5px #383838;
$hover-link-color: #6095D7;
$background-color: #DDD9AB;
$header-color: #633D2E;
$appinfocolor: #633D2E;
$footercolor: #BFD8AD;
$featuresbackground: #F7AF63;
$sans-serif-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font: Georgia, Times, 'Times New Roman', serif;
$opensans-font: 'Open Sans', sans-serif;
