@import "normalize";
@import "base/base";

$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';
$phone: 'min-width: 360px';

html {
	box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body{
  color: $font-color;
  background-color: $background-color;
  font-family: $opensans-font;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.navbar-default{
  background-color: $nav-color;
  border-color: $nav-color;
  position: fixed;
  width: 100%;
  margin-top: -5.4rem;
  z-index: 9999;
  .navbar-brand{
    color: white;
  }

}

.title{
    font-size: 4rem;
    font-weight: 700;
    color: $header-color;

    h1{
      padding-top: 5rem;
    }
}

.col-md-4{

  h2{
    color: $appinfocolor;
    font-size: 2.5rem;
    }
  p{
    text-align: left;
  }
}

.calltotry{
    padding: 3.5rem;
    font-size: 2rem;
    background-color: #9CDDC8;
    a{
    text-decoration: none;
    color: $font-color;
    font-weight: 700;
    text-shadow: $text-shadow;
  }
}

footer{
    padding: 3rem;
    background-color: $footercolor;
}
